@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
   @apply text-green-500 hover:text-green-700
}

li {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 1em;
}

* {
  box-sizing: border-box;
}

